#one {
    display: none;
}
#two {
    display: none;
}
#three {
    display: none;
}
/* For styling */
article {
    border-top: 1px dotted lightslategrey;
    border-bottom: 1px dotted lightslategrey;
}
pre, code {
    font-weight: bold;
    font-family: monospace;
    background: black;
    color: lightGreen;
}
body {
    min-height: 25em;
    background: black;
    color: #CCC;
    font: x-small "Trebuchet MS", Trebuchet, Verdana, Sans-serif;
    font-size: small;
}
header h5 {
    margin-top: -1em;
}
#kfooter {
    padding-top: 1em;
}
a {
    color: lightSalmon;
}