#one {
    display: none;
}
#two {
    display: none;
}
#three {
    display: none;
}
article {
    /*max-height: 12em;*/
    min-height: 21em;
    border-top: 1px dotted lightslategrey;
    border-bottom: 1px dotted lightslategrey;
}

/* For styling purpose only */
pre, code {
    font-weight: bold;
    font-family: monospace;
    background: #b2b2cd;
    color: black;
}
code {
    padding: 0 .2em 0 .2em;
    border-radius: .2em;
}
pre {
    width: 21em;
    padding: .5em 0 .5em 1em;
    transition: width 2s;
    -moz-transition: width 2s;
    -webkit-transition: width 2s;
    -o-transition: width 2s;
    border-radius: .4em;
}
pre:hover {
    width: 25em;
}
body {
/*    background: lightgray;
    color: black;*/
    background: black;
    color: #CCC;
    font: x-small "Trebuchet MS", Trebuchet, Verdana, Sans-serif;
    font-size: small;
}
header h5 {
    margin-top: -1em;
}
.fnorm {
    padding-top: .5em;
}
.fiframe {
    position: fixed;
    bottom: 10em;
}
a {
    color: lightCyan;
}