/* page styles */
body {
    background: #0F0F0F;
    color: #CCC;
    font: x-small "Trebuchet MS", Trebuchet, Verdana, Ubuntu, Sans-serif;
    font-size: small;
    margin-left: 17px;
}
a {
    color: lightSalmon;
    text-decoration: none;
}
pre, code {
    font-weight: bold;
    font-family: monospace;
    color: lightSeaGreen;
}
li {
    padding: 0 0 .5em 0;
}