#t1 span {
    display: none;
}
#t1:hover span {
    display: block;
    position: absolute;
    top: 11em;
    left: 6em;
    border-radius: 3px;
    text-align: center;
    font: 10px Verdana, sans-serif;
    padding: 0 .5em 1.5em .5em;
    margin: .5em;
    width: 13em;
    z-index: 100;
    border:1px solid darkcyan;
    background-color: lightcyan;
    opacity: .9;
    color: black;
}
#t1:hover span img {
    position: relative;
    top: .7em;
    left: .2em;
    z-index: 100;
}
/* page style */
#t1 {
    text-decoration: none;
}
a {
    color: #4eabff;
}
body {
    min-height: 25em;
    background: black;
    color: #CCC;
    font: x-small "Trebuchet MS", Trebuchet, Verdana, Sans-serif;
    font-size: small;
}
pre, code {
    color: lightSeaGreen;
    font-weight: bold;
}